{% extends "AppMetal/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="text-white fs-3 fw-bolder">Resultado de Busqueda Ingresante</h1>
<p class="text-white-50 mb-0">Escuela de Rock</p>

{% endblock %}

{% block otro_contenido %}
<h1>Busqueda de Ingresantes</h1>

{% if ingresante %}

<ul>
    {% for Ingresante in ingresante %}
        <li>{{ingresante.nombre}}</li>
        <li>{{ingresante.apellido}}</li>
    {% endfor %}
    
</ul>

{% else %} 
<p>No se encontro al Ingresante</p>

{% endif %}

{% endblock %}